.sign-out{
    float: right;
    margin-top: 0px;
}

.children {
    margin-top: 100px;
}

.navbar {
        width: 100%;
        height: auto;
        padding-left: 50px;
        padding-top: 18px;
        padding-bottom: 18px;
        top: 0;
        position: fixed;
        z-index: 100;
        background-color: #4B2D87;
}



@media screen and (min-width:600px) {

    a.navLink {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 13px;
        padding-bottom: 13px;
        border: 1px solid #4B2D87;
    }

    .navLink:hover {
        color: #4B2D87;
        background-color: white;
    }

    a.navLink.active {
        color: #4B2D87;
        background-color: white;
    }

    #main {
        color: white;
        background-color: #4B2D87;
    }

    #main:hover {
        color: #4B2D87;
        background-color: white;
    }

    #main:focus {
        color: #4B2D87;
        background-color: white;
    }

    .dropdown {
        display: none;
    }
}