.comment {
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
    width: 48%;
    border: 4px double #daa520;
    
}

select {
	display: inline;
}

.comment h4 {
	background: rgba(218, 165, 32, 0.5);
	text-align: center;
	color: #56339a;
	margin-top: -1px;
	height: 60px;
	padding-top: 15px;
	font-weight: bold;
}

.rateClass {
	padding: 5px 20px;
}

.rateClass .searchCourse {
	display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}