.courseSec {
	margin-left: 20px;
	margin-right: 20px;

}

.commentSec {
	border: 4px double #daa520;
	margin-top: 20px;
	position: relative;
	max-height: 696px;
	width: 47%;
	float: right;
	overflow: auto;
	margin-bottom: 10px;
}

.commentSec h4 {
	background: rgba(218, 165, 32, 0.5);
	text-align: center;
	color: #56339a;
	margin-top: -1px;
	height: 60px;
	padding-top: 15px;
	font-weight: bold;
}

.chartSec {
	border: 4px double #daa520;
	width: 65%;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
	height: 50%;
}