.needAcc {
    position: fixed;
    right: 0;
	top: 0;
    z-index: 1000;
    color: white;
    padding-top: 5px;
}

.upBtn {
	border: 1px solid white;
	border-radius: 3px;
	background-color: #4B2D87;
	text-align: center;
	padding: 6px 15px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

.upBtn:hover {
	background-color: #362061;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24);
}